section.add-design
  .add-design__top
    .container
      .add-design__wrap      
        .add-design__content 
          +icon("logo", 177, 177, "icon--big")
          h2.add-design__title Push yourself & your<br>designs
          p.add-design__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eum, recusandae debitis! Optio, sint, reprehenderit? Obcaecati non, cum accusantium ea.
  .add-design__bottom
    .container
      .add-design__img
        img(src="img/promo.png", alt="")