section.features

  .container

    h2.features__title Features of app
    p.features__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 

    .features__row

      .features__item
        .features__icon
          +icon("cart", 50, 40)
        h3.features__item-title Lorem ipsum dolor sit 
        p.features__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 

      .features__item
        .features__icon
          +icon("airplane", 38)
        h3.features__item-title ametconsectetur
        p.features__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud

      .features__item
        .features__icon
          +icon("twice-arrow", 42)
        h3.features__item-title Lorem ipsum dolor sit 
        p.features__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 

      .features__item
        .features__icon
          +icon("window", 55, 48)
        h3.features__item-title Lorem ipsum dolor sit 
        p.features__item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud 

  button.btn.btn--scroll.btn--bordered
    +icon("arrow-down", 25)