section.guidelines
  .container
    h2.guidelines__title Our design guidelines
    p.guidelines__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
    .guidelines__filter
      .guidelines__controls
        .guidelines__control(href="#") Development
        .guidelines__control.guidelines__control--active(href="#" ) Design
        .guidelines__control(href="#") Business
        .guidelines__control(href="#") Arts

      .guidelines__row
        .guidelines__item
          .guidelines__img
            img(src="img/content/plcaholder.jpg", alt="")
          a.guidelines__link(href="/") Design Listing One
        .guidelines__item
          .guidelines__img
            img(src="img/content/plcaholder.jpg", alt="")
          a.guidelines__link(href="/") Design Listing One
        .guidelines__item
          .guidelines__img
            img(src="img/content/plcaholder.jpg", alt="")
          a.guidelines__link(href="/") Design Listing One
