section.latest
  .container 
    h2.latest__title Latest design stye
    p.latest__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
    button.btn.btn--scroll.btn--green
      +icon("arrow-down", 25, 25, "icon--white")
