footer.page-footer
  .container
    .page-footer__social
      a.page-footer__social-link.page-footer__social-link--twitter(href="") Tweet
        +icon("twitter", 16, 13)
      a.page-footer__social-link.page-footer__social-link--facebook(href="") Share
        +icon("fb", 11, 16)

    .page-footer__body
      nav.page-footer__nav
        ul.page-footer__list
          li.page-footer__item
            a(href="") About Us
          li.page-footer__item
            a(href="") Support
          li.page-footer__item
            a(href="") Why Buy
          li.page-footer__item
            a(href="") Affiliates
        ul.page-footer__list
          li.page-footer__item
            a(href="") Contact Us
          li.page-footer__item
            a(href="") Returns
      .page-footer__copyright
        p Made in Melbourne By BlazRobar.com @BlazRobar
        p Copyright © 2016, Cool stuff here

    .page-footer__bottom
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat, dolores!